body {
    bbackground-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0; /* IMPORTANTE pra evitar espaçamento estranho */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.ano {
    font-size: 1.3em;
    color: #4fc3f7;
    margin-top: 30px;
    font-weight: bold;
}

.evento {
    background-color: #1e1e1e;
    border-left: 4px solid #4fc3f7;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    color: #888;
    margin: 50px 0 20px;
    font-size: 0.9em;
}
